html,body{
    font-family: 'Oswald', sans-serif;
    height: 99.6%;
    background: linear-gradient(320deg,#9F025B, #F9C929);
    overflow: hidden;

}
.text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}