html,body{
    font-family: 'Oswald', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient( 102.4deg, #fdbd55, #f983ff ); 
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.text {
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    font-family: 'Poppins';
    font-size: 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 28px 32px;

}

.text1 {
    position:absolute;
    width: 100%;
    bottom: 50px;
    text-align: center;
    font-size: 35px;
    font-family: 'Poppins';
}

.box {
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;
}

a {display: inline-block;}

.contact-button {
    font-size: 38px;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 15;
    transition: all .2s ease-in-out;
}

.contact-button:hover {
    opacity: 1;
    transform: scale(1.2)
}